@import url("Bitrise_font.css");

@charset: "utf8";

body {
  font-family: TTNorms;
}

.title {
    color: #760fc3;
}

#publication-title {
    background-color: #760fc3;
}

.site-header {
    color: #760fc3;
}

.portal-header {
    display: none;
}
