
@import url("Bitrise_font.css");

@charset: "utf8";

body {
  font-family: TTNorms;
}

.portal-body-row {
}

.portal-contents.featured-content, .featured-content-label {
  display: none;
}

.title {
    color: #760fc3;
}

.site-sidebar {
  background-color: #492f5c;
}

#publication-title {
    background-color: #760fc3;
}

.site-header {
    color: #760fc3;
}

.portal-header {
    display: none;
}

