








@import url("Bitrise_font.css");

@charset: "utf8";

/*colors:
#0dd3c5
#492f5c
#683d87
#760fc3;
*/

body {
  font-family: TTNorms, sans-serif;
  letter-spacing: 0.2px;
}

.toolbar {
  background-color: #492f5c;
}

.theme2 .toolbar.top-nav-on {
  min-height: 48px;
  height: 48px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.site-sidebar-header {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: #492f5c !important;
  border-color: #492f5c !important;
  height: 48px;
}

.site-sidebar .logo {
  height: 100% !important;
  width: 90% !important;
  padding: 10px 0;
}

.site-sidebar {
  background-color: #fafafa;
  font-size: 14px;
}

.theme2.colored-top .nav-site-sidebar {
  padding-top: 0;
}

a.topic-link.section:focus {
  background-color: #f8f0ff;
}

a.topic-link.section:hover {
  background-color: #f8f0ff;
}

.nav-site-sidebar .active>a {
  color: white;
  background-color: #683d87;
}

.nav-site-sidebar .active>a:hover {
  color: white;
  background-color: #683d87;
}

.nav-site-sidebar .opened>a {
  background-color: #f8f0ff;
}

.nav-site-sidebar > li.active.opened>a {
  color: white;
  background-color: #683d87;
}

.nav-site-sidebar ul .active > a {
  color: white;
  background-color: #683d87;
  font-weight: normal !important;
}

.breadcrumb-container, .breadcrumb {
  display: none;
}

.breadcrumb-link a, .breadcrumb-node {
  color: #ffff;
}

#topic-content > section > .titlepage .title {
  margin: 0 0 1em;
}

.titlepage h2.title, .titlepage h1.title {
    font-family: TTNorms, sans-serif;
    color: #683d87;
    font-weight: bold;
    letter-spacing: 0.2px;
    margin: 0 0 1em;
}

.titlepage h1.title {
  font-size: 3.125rem;
}

.titlepage h2.title {
  font-size: 2.6rem;

}

.titlepage h3.title, .titlepage h4.title, .titlepage h5.title {
  color: #616161;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.4;
}

p {
  margin: 0 0 1em;
}

.warning, .note, .important, .caution, .tip, .example {
  width: 80%;
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-left: 0.8rem solid;
	border-radius: 8px;
	letter-spacing: 0.2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
}

.warning {
  border-left-color: #ff2158;
  background-color: #ffff;
}

.warning h3 {
  font-family: TTNorms, sans-serif;
  font-weight: 700;
  color: #ff2158;
}

.warning:before {
  color: #ff2158;
}

.site-header {
    color: #760fc3;
}
.guibutton {
  font-weight: bold;
}

.procedure > li::before {
  float: left;
  margin-left: -40px;
  padding-left: 0px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: solid 1px #dbc3ed;
  color: #683d87;
  display: block;
  background-color: #fdfaff !important;
  font-weight: 600;
  content: counter(step-counter);
  font-size: 14px;
  text-align: center;
}

ol.procedure {
  padding-left: 26px;
  border-left: solid 1px #dbc3ed;
}

.code, .command {
  display: block;
  color: rgba(0,0,0,.87);
  -webkit-font-feature-settings: "kern";
  font-feature-settings: "kern";
  font-family: "Source Code Pro", "Courier New", Courier, monospace;
  font-size: 85%;
  direction: ltr;
  word-wrap: break-word;
  margin: 1em 0;
  padding: 1rem 1rem;
  border-radius: .2rem;
  line-height: 1.4;
  -webkit-overflow-scrolling: touch;
  background-color: #272822;
  color: #e6db74;
}

div.feedback-panel {
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
}

div.feedback-panel .btn {
  border: 1px solid #0dd3c5;
}

div.feedback-panel .btn:focus, div.feedback-panel .btn:hover, div.feedback-panel .btn.active {
  background-color: #0dd3c5;
  color: white;
}

ul.top-nav-menu.sm.sm-simple > li > .external-top-nav-link {
  border: none;
  border-radius: 4px;
  padding: 10px 10px;
  width: 120px;
  text-align: center;
  margin: 0 1rem;
  cursor: pointer;
  background-color: #0dd3c5 !important;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
}
