html { 
    --colors-neutral-10: #201B22;
    --colors-neutral-20: #362D39;
    --colors-neutral-30: #49404F;
    --colors-neutral-40: #6B6071;
    --colors-neutral-50: #7D7184;
    --colors-neutral-60: #94879B;
    --colors-neutral-70: #AFA487;
    --colors-neutral-80: #C9C1CD;
    --colors-neutral-90: #DFDAE1;
    --colors-neutral-93: #EFEBEF;
    --colors-neutral-95: #F6F4F6;
    --colors-neutral-100: #FFFFFF;
    --colors-purple-10: #2B0E3F;
    --colors-purple-20: #421560;
    --colors-purple-30: #5C2A7E;
    --colors-purple-40: #7B3BA5;
    --colors-purple-50: #9247C2;
    --colors-purple-60: #AE63DE;
    --colors-purple-70: #C289E6;
    --colors-purple-80: #D5ADEB;
    --colors-purple-90: #EAD4F2;
    --colors-purple-93: #F3E7F9;
    --colors-purple-95: #F9F2FD;
    --colors-purple-100: #FFFFFF;
    --colors-red-10: #47060C;
    --colors-red-20: #630811;
    --colors-red-30: #78111C;
    --colors-red-40: #A91E2E;
    --colors-red-50: #D72D40;
    --colors-red-60: #F7596C;
    --colors-red-70: #FF8091;
    --colors-red-80: #FFA8B5;
    --colors-red-90: #FFCCD5;
    --colors-red-93: #FFE5EB;
    --colors-red-95: #FFF0F3;
    --colors-red-100: #FFFFFF;
    --colors-orange-10: #421000;
    --colors-orange-20: #661900;
    --colors-orange-30: #7A2200;
    --colors-orange-40: #A33500;
    --colors-orange-50: #D45202;
    --colors-orange-60: #ED720C;
    --colors-orange-70: #FD9730;
    --colors-orange-80: #FFB766;
    --colors-orange-90: #FFD5A3;
    --colors-orange-93: #FFE9CF;
    --colors-orange-95: #FFF4E5;
    --colors-orange-100: #FFFFFF;
    --colors-yellow-10: #2E1C00;
    --colors-yellow-20: #4D2F00;
    --colors-yellow-30: #613E00;
    --colors-yellow-40: #875B00;
    --colors-yellow-50: #B27E00;
    --colors-yellow-60: #D6A200;
    --colors-yellow-70: #EBBA00;
    --colors-yellow-80: #F9CC15;
    --colors-yellow-90: #FBE074;
    --colors-yellow-93: #FFEFAD;
    --colors-yellow-95: #FFF6D1;
    --colors-yellow-100: #FFFFFF;
    --colors-green-10: #042A0F;
    --colors-green-20: #064217;
    --colors-green-30: #0B5620;
    --colors-green-40: #167231;
    --colors-green-50: #2A9D4C;
    --colors-green-60: #4EB76C;
    --colors-green-70: #77CF8F;
    --colors-green-80: #A1DEB2;
    --colors-green-90: #C3EACE;
    --colors-green-93: #E1F4E7;
    --colors-green-95: #EEF9F1;
    --colors-green-100: #FFFFFF;
    --colors-turquoise-10: #002924;
    --colors-turquoise-20: #003D36;
    --colors-turquoise-30: #005248;
    --colors-turquoise-40: #007366;
    --colors-turquoise-50: #009E8E;
    --colors-turquoise-60: #11BBA9;
    --colors-turquoise-70: #55CEC3;
    --colors-turquoise-80: #8AE0D7;
    --colors-turquoise-90: #AEEFE8;
    --colors-turquoise-93: #D8F8F4;
    --colors-turquoise-95: #E9FBF9;
    --colors-turquoise-100: #FFFFFF;
    --colors-blue-10: #002442;
    --colors-blue-20: #00315C;
    --colors-blue-30: #044781;
    --colors-blue-40: #1066AC;
    --colors-blue-50: #2582D0;
    --colors-blue-60: #4F9BDE;
    --colors-blue-70: #71B8EF;
    --colors-blue-80: #99D1F5;
    --colors-blue-90: #C2E7FA;
    --colors-blue-93: #DEF2FC;
    --colors-blue-95: #ECF8FD;
    --colors-blue-100: #FFFFFF;
    --colors-brand-primary: #5C2A7E;
    --colors-text-body: #201B22;
    --colors-text-secondary: #6B6071;
    --colors-text-link: #9247C2;
    --colors-text-linkHover: #5C2A7E;
    --colors-separator-primary: #DFDAE1;
    --fonts-body: "TT Norms Pro",sans-serif;
}