












@import url("Bitrise_font.css");

@charset: "utf8";

:root {
  --link-purple: #760fc3;
  --deep-purple: #492f5c;
  --active-purple: #683d87;
  --bitgreen: #0dd3c5;
  --nav-highlight: #f8f0ff;
}

body {
  font-family: TTNorms, sans-serif;
  letter-spacing: 0.2px;
}

.toolbar {
  background-color: #492f5c;
}


.site-sidebar .logo {
  height: 100% !important;
  padding: 10px 20px;
}

#logotype-pageheader {
  float: left;
}

.site-sidebar {
  background-color: #f8f8f8;
  font-size: 14px;
}

.theme2 .toolbar.top-nav-on {
  min-height: 48px;
  height: 48px;
  padding: 0 25px 0 25px !important;
}

.toolbar-tools .navbar-collapse.collapse {
  height: 100% !important;
}


.site-sidebar-header {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: #492f5c !important;
  border-color: #492f5c !important;
  height: 48px;
}

ul.top-nav-menu.sm.sm-simple { 
  font-weight: bold;
}

ul.top-nav-menu.sm.sm-simple > li:nth-child(3) > .external-top-nav-link, ul.top-nav-menu.sm.sm-simple > li:nth-child(4) > .external-top-nav-link {
  border: none;
  border-radius: 4px;
  padding: 10px 10px;
  width: 120px;
  text-align: center;
  margin: 0 1rem;
  cursor: pointer;
  font-size: 1.2rem;
}

ul.top-nav-menu.sm.sm-simple > li:nth-child(3) > .external-top-nav-link {
  background-color: #ffff !important;
  color: #351d48 !important;
  margin-left: 40px;
}

ul.top-nav-menu.sm.sm-simple > li:nth-child(3) > .external-top-nav-link:hover {
  background-color: #ececec !important;
}

ul.top-nav-menu.sm.sm-simple > li:nth-child(4) > .external-top-nav-link {
  background-color: #0dd3c5 !important;
  color: #ffffff;
}

ul.top-nav-menu.sm.sm-simple > li:nth-child(4) > .external-top-nav-link:hover {
  background-color: #0fc389 !important;
}

.toolbar-tools {
  height: 100%;
}

.top-nav-menu.sm.sm-simple, .top-nav-menu.sm.sm-simple > li, .external-top-nav-link {
  height: 100% !important;
}

.top-nav-menu.sm.sm-simple > li {
  padding: 7px 0;
}

ul.top-nav-menu.sm.sm-simple > li:nth-child(1).active-lang, ul.top-nav-menu.sm.sm-simple > li:nth-child(2).active-lang {
  border-bottom: 3px solid #0dd3c5;
}

ul.top-nav-menu.sm.sm-simple > li:nth-child(1) > .external-top-nav-link {
  padding: 10px 15px;
}

ul.top-nav-menu.sm.sm-simple > li:nth-child(2) > .external-top-nav-link {
  padding: 7px 15px;
}

ul.top-nav-menu.sm.sm-simple > li:nth-child(5) {
  position: relative;
}

ul.top-nav-menu.sm.sm-simple > li:nth-child(5) > .external-top-nav-link {
  padding-top: 9px;
}

ul.top-nav-menu.sm.sm-simple > li:nth-child(5) > .external-top-nav-link:after {
  content: url(/css/image/navicons/linktarget.svg);
  position: absolute;
  margin-left: 10px;
}

ul.top-nav-menu.sm.sm-simple > li:nth-child(5) > .external-top-nav-link:hover {
  opacity: 0.5;
}


ul.top-nav-menu.sm.sm-simple > li:nth-child(1):hover, ul.top-nav-menu.sm.sm-simple > li:nth-child(2):hover {
  background-color: #5f4870 !important;
}

.fa.fa-search {
  margin-left: 2em;
}

.fa.fa-search:hover {
  opacity: 0.5;
}

.tool-search-form .search-field {
  background-color: #5f4870;
  height: 48px;
}

@media (min-width: 1200px) {
  .site-sidebar {
    width: 20%;
  }
  
  .site-content {
    margin-left: 20%;
    width: 80%;
  }

  .fixed-toolbar .tool-search-form {
    margin-left: 20%;
  }
}

button.navbar-toggle {
  padding: 15px 10px;
}

.theme2.colored-top .nav-site-sidebar {
  top: 48px;
}

.toc.nav.nav-site-sidebar > li > a:before, .toc.nav.nav-site-sidebar > li.active > a:before {
  position: absolute;
  left: 20px;
  transform: translateY(-2px);
}

.toc.nav.nav-site-sidebar > li:nth-child(1) > a:before {
  content: url(/css/image/navicons/globe.svg);
}

.toc.nav.nav-site-sidebar > li:nth-child(1).active > a:before {
  content: url(/css/image/navicons/globe-active.svg);  
}

.toc.nav.nav-site-sidebar > li:nth-child(2) > a:before {
  content: url(/css/image/navicons/getting-started.svg);
}

.toc.nav.nav-site-sidebar > li:nth-child(2).active > a:before {
  content: url(/css/image/navicons/getting-started-active.svg);  
}

.toc.nav.nav-site-sidebar > li:nth-child(3) > a:before {
  content: url(/css/image/navicons/cpu.svg);
}

.toc.nav.nav-site-sidebar > li:nth-child(3).active > a:before {
  content: url(/css/image/navicons/cpu-active.svg);  
}

.toc.nav.nav-site-sidebar > li:nth-child(4) > a:before {
  content: url(/css/image/navicons/dudes.svg);
}

.toc.nav.nav-site-sidebar > li:nth-child(4).active > a:before {
  content: url(/css/image/navicons/dudes-active.svg);  
}

.toc.nav.nav-site-sidebar > li:nth-child(5) > a:before {
  content: url(/css/image/navicons/workflow.svg);
}

.toc.nav.nav-site-sidebar > li:nth-child(5).active > a:before {
  content: url(/css/image/navicons/workflow-active.svg);  
}

.toc.nav.nav-site-sidebar > li:nth-child(6) > a:before {
  content: url(/css/image/navicons/build.svg);
}

.toc.nav.nav-site-sidebar > li:nth-child(6).active > a:before {
  content: url(/css/image/navicons/build-active.svg);  
}

.toc.nav.nav-site-sidebar > li:nth-child(7) > a:before {
  content: url(/css/image/navicons/code-signing.svg);
}

.toc.nav.nav-site-sidebar > li:nth-child(7).active > a:before {
  content: url(/css/image/navicons/code-signing-active-active.svg);  
}

.toc.nav.nav-site-sidebar > li:nth-child(8) > a:before {
  content: url(/css/image/navicons/testing.svg);
}

.toc.nav.nav-site-sidebar > li:nth-child(8).active > a:before {
  content: url(/css/image/navicons/testing-active.svg);  
}

.toc.nav.nav-site-sidebar > li:nth-child(9) > a:before {
  content: url(/css/image/navicons/deployment.svg);
}

.toc.nav.nav-site-sidebar > li:nth-child(9).active > a:before {
  content: url(/css/image/navicons/deployment-active.svg);  
}

.toc.nav.nav-site-sidebar > li:nth-child(10) > a:before {
  content: url(/css/image/navicons/monitoring.svg);
}

.toc.nav.nav-site-sidebar > li:nth-child(10).active > a:before {
  content: url(/css/image/navicons/monitoring-active.svg);  
}

.toc.nav.nav-site-sidebar > li:nth-child(11) > a:before {
  content: url(/css/image/navicons/window.svg);
}

.toc.nav.nav-site-sidebar > li:nth-child(11).active > a:before {
  content: url(/css/image/navicons/window-active.svg);  
}

.toc.nav.nav-site-sidebar > li:nth-child(12) > a:before {
  content: url(/css/image/navicons/code.svg);
}

.toc.nav.nav-site-sidebar > li:nth-child(12).active > a:before {
  content: url(/css/image/navicons/code-active.svg);  
}

.nav-site-sidebar>li>a {
  padding: 10px 15px 10px 60px
}

.nav-site-sidebar ul a {
  padding: 8px 20px 8px 75px
}

.nav-site-sidebar ul ul a {
  padding-left: 90px;
}

.nav-site-sidebar a.topic-link.section:focus, .nav-site-sidebar a.topic-link.section:hover, 
.nav-site-sidebar .opened > a {
  background-color: var(--nav-highlight);
}

.nav-site-sidebar > li.active.opened > a, .nav-site-sidebar .active > a.topic-link.section:hover {
  color: white;
  background-color: var(--active-purple);
}

.nav-site-sidebar ul .active > a {
  color: white;
  background-color: var(--active-purple);
  font-weight: normal !important;
}

.breadcrumb-container, .breadcrumb {
  font-size: 1.5rem;
  display: none;
}

ul.breadcrumb {
  display: inline-block;
  padding: 12px;
  background-color: #f8f8f8;
  border-radius: 8px;
}

ul.breadcrumb li {
  color: #492f5c;
}

li.breadcrumb-link:hover {
  color: var(--active-purple);
}

.breadcrumb-node {
  font-weight: bold;
}

.breadcrumb>li+li:before {
  color: #888;
  content: "/\00a0";
  padding: 0 5px;
}


.theme2 .section-nav.nav li.active > a, .theme2 .section-nav.nav > li.active > a:before {
  color: var(--active-purple);
}

.page-toc main article {
  padding-right: 50px;
}

main article p {
  line-height: 1.5em;
  font-size: 1.5rem;
}

a {
  color: var(--link-purple);
}

a:focus, a:hover, a:active {
  color: var(--active-purple);
}

.topic-content {
  border-bottom: 1px solid #f5f5f5;
}

#topic-content > section > .titlepage h1.title.homepage-title {
  margin-top: 1em;
  font-size: 4rem;
  color: #492f5c;
}

#topic-content > section > .titlepage .title {
  margin: 0 0 1em;
}

.titlepage h2.title, .titlepage h1.title {
    font-family: TTNorms, sans-serif;
    color: #683d87;
    font-weight: bold;
    letter-spacing: 0.2px;
    margin: 0 0 1em;
}

.titlepage h1.title {
  font-size: 3.125rem;
}

.titlepage h2.title {
  font-size: 2.6rem;

}

.titlepage h3.title, .titlepage h4.title, .titlepage h5.title {
  color: #616161;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.4;
}

p {
  margin: 0 0 1em;
}

ol.procedure {
  margin-left: 15px;
}

.warning, .note, .notice, .important, .caution, .tip, .example {
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-left: 0.8rem solid;
	border-radius: 8px;
	letter-spacing: 0.2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
}

.warning {
  border-left-color: #ff2158;
  background-color: rgba(255, 33, 88, 0.075);
}

.warning h3 {
  font-family: TTNorms, sans-serif;
  font-weight: 700;;
}

.warning h3, .warning:before {
  color: #ed003b;
}

.note, .note.notice {
  border-left-color: #0d83cd;
  background-color: rgba(13, 131, 205, 0.075);
}

.note h3, .note.notice h3 {
  font-family: TTNorms, sans-serif;
  font-weight: 700;
}

.note h3, .note:before, .note.notice h3, .note.notice:before {
  color: #0a649d;
}

.caution {
  border-left-color: #ffc500;
  background-color: rgba(255, 197, 0, 0.075);
}

.caution h3 {
  font-family: TTNorms, sans-serif;
  font-weight: 700;
}

.caution h3, .caution:before {
  color: #cc9e00;
  ;
}

.important {
  border-left-color: #0fc389;
  background-color: rgba(15, 195, 137, 0.0.075);
}

.important h3 {
  font-family: TTNorms, sans-serif;
  font-weight: 700;
}

.important h3, .important:before {
  color: #0b9468;
}

.tip {
  border-left-color: var(--active-purple);
  background-color: rgba(248, 240, 255, 0.75);
}

.tip h3 {
  font-family: TTNorms, sans-serif;
  font-weight: 700;
}

.tip h3, .tip:before {
  color: var(--deep-purple);
}

.site-header {
    color: #760fc3;
}
.guibutton {
  font-weight: bold;
}

.procedure > li::before {
  float: left;
  margin-left: -40px;
  padding-left: 0px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: solid 1px #dbc3ed;
  color: #683d87;
  display: block;
  background-color: #fdfaff !important;
  font-weight: 600;
  content: counter(step-counter);
  font-size: 14px;
  text-align: center;
}

ol.procedure {
  padding-left: 26px;
  border-left: solid 1px #dbc3ed;
}

.code, .command {
  display: block;
  color: rgba(0,0,0,.87);
  -webkit-font-feature-settings: "kern";
  font-feature-settings: "kern";
  font-family: "Source Code Pro", "Courier New", Courier, monospace;
  font-size: 85%;
  direction: ltr;
  word-wrap: break-word;
  margin: 1em 0;
  padding: 1rem 1rem;
  border-radius: .2rem;
  line-height: 1.4;
  -webkit-overflow-scrolling: touch;
  background-color: #272822;
  color: #e6db74;
}

div.feedback-panel {
  display: none;
  float: left;
  width: 75%;
  max-width: 75%;
  margin-left: 0;
  padding-left: 8.33333333%;
  padding-right: 40px;
  border: none;
}

div.feedback-panel .btn {
  border: 1px solid #0dd3c5;
}

div.feedback-panel .btn:focus, div.feedback-panel .btn:hover, div.feedback-panel .btn.active {
  background-color: #0dd3c5;
  color: white;
}

.page-toc .pager {
  padding-left: 40px;
  padding-right: 40px;
}

.pager li > a {
  padding: 10px 20px;
}

.pager li > a:hover {
  background-color: var(--active-purple);
  border-radius: 8px;
  border-radius: 8px;
}

.index-container {
  list-style-type: none !important;
  display: flex;
  padding: 0;
  margin-top: 0.5em;
  width: 100%;
}

@media (max-width: 1200px) {

  .index-container {
    flex-direction: column;
    width: 100%;
  }

  .index-box {
    width: 100%;
  }
}

@media (min-width: 1200px) {

  .index-box {
    width: 30%;
    margin: auto !important;
  }
}

p.index-title {
  position: relative;
  font-weight: bold;
  font-size: 1.6rem;
  color: #683d87;
  cursor: pointer;
  background-color: #f8f0ff;
  padding: 15px 10px 15px 40px;
}

p.index-title:before {
  position: absolute;
  left: 10px;
  top: 15px;
  content: url(/css/image/navicons/doc.svg);
}

.index-box {
  padding: 0 0 1.5rem;
  margin: 0.825rem auto;
  border-radius: 8px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
  border: solid 1px #ececec;
  background-color: #ffffff;
  text-align: left;
  color: #444444;
  cursor: pointer;
}

li.listitem.index-box:nth-child(1) {
  margin-left: 0;
}

li.listitem.index-box:nth-child(3) {
  margin-right: 0;
}

p.box-para {
  padding-left: 15px;
  padding-right: 15px;
  line-height: 1.3;
}

.section.index-box .titlepage {
  display: none;
}

ul.itemizedlist.explore {
  list-style-type: none !important;
  border-top: solid 2px #ececec;
  position: relative;
  text-align: center;
  margin: 4rem auto 0;
  padding-left: 0;
}

.explore-text {
  position: relative;
  display: inline-block;
  top: -0.7em;
  background-color: #ffffff !important;
  padding: 0 20px;
  line-height: 1.38 !important;
  font-size: 1.4rem !important;
  font-weight: bold;
  text-transform: uppercase;
  color: #616161 !important;
}

div.intro-container {
  display: flex;
  flex-direction: row;
  padding: 30px;
  margin-bottom: 6em;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
  border-left: 20px solid var(--active-purple);
}

ul.itemizedlist.intro-container {
  margin-bottom: 0;
  padding-left: 0;
}

.itemizedlist .intro-container .listitem {
  list-style-type: none;
}

.index-image {
  float: right;
  width: 25%;
}

@media (max-width: 1200px) {

  .index-image {
    display: none;
  }

  .homepage-intro {
    width: 100% !important;
  }
}

.index-image img.materialboxed {
  margin-right: 0;
  float: center;
}

.homepage-intro {
  font-size: 1.7rem;
  letter-spacing: -0.2px;
  float: left;
  margin: 0;
  width: 70%;
}



